name: Tests
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
  merge_group:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc: ["8.10", "9.0", "9.2", "9.4", "9.6", "9.8", "9.10"]
    steps:
      - uses: actions/checkout@v4
      - name: "Setup haskell"
        uses: haskell-actions/setup@v2
        id: setup-haskell
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: latest
          cabal-update:  true
      - run: |
          cabal configure --enable-tests --disable-documentation
          cabal build --dry-run
        # The latter generates dist-newstyle/cache/plan.json which serves as cache key.
      - uses: actions/cache@v3
        with:
          path: ${{ steps.setup-haskell.outputs.cabal-store }}
          key:  ${{ runner.os }}-${{ steps.setup-haskell.outputs.ghc-version }}-${{ hashFiles('dist-newstyle/cache/plan.json') }}
          restore-keys: |
                ${{ runner.os }}-${{ steps.setup-haskell.outputs.ghc-version }}-
      - run: cabal build
      - run: cabal test
      - run: cabal haddock
      - run: cabal sdist
